.price {
  font-style: italic;
  font-size: 0.6em;
}

.description-wrapper {
  margin: 5px 0px;
  padding: 4px;
  border: gray 1px dotted;
}

.description-wrapper > .no-description {
  font-style: italic;
  font-size: 0.8em;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/